.button {
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border: none;
    color: #fff;
    padding: 2px;

    &.disabled {
        background-color: rgb(183, 183, 183);
        cursor: not-allowed;
    }

    &.primary {
        background-color: #007bff;
    }

    &.secondary {
        background-color: #6c757d;
    }

    &.success {
        background-color: #28a745;
    }

    &.danger {
        background-color: #dc3545;
    }

    &.warning {
        background-color: #ffc107;
        color: #212529;
    }

    &.info {
        background-color: #17a2b8;
    }

    &.light {
        background-color: #f8f9fa;
        color: #212529;
    }

    &.dark {
        background-color: #343a40;
    }

    &.link {
        background-color: transparent;
        color: #007bff;
    }

    &.small {
        width: 60px;
        height: 32px;
        font-size: 10px;
    }

    &.medium {
        width: 75px;
        height: 35px;
        font-size: 12x;
    }

    &.large {
        width: 90px;
        height: 40px;
        font-size: 16px;

    }

    &.xLarge {
        width: 100px;
        height: 40px;
        font-size: 18px;
    }

}